body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    text-align: center;
    font-size: 40px;
}
img {
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width to prevent oversized images */
    display: block; /* Ensures that the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally on the page */
   
}
header {
    text-align: center;
    padding: 100px;
    background-image: linear-gradient(45deg, #ff8a00,#a200ffb4, #e52e71, #2d525d);
    background-size: 200% 200%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
footer  {
    text-align: center;
    padding: 100px;
    background-image: linear-gradient(45deg, #2f0c3d,#1e082bb4, #13080c, #324e57);
    background-size: 200% 200%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
section {
    height: 1200px;
    background-image: url("campus.jpeg");
    background-size: cover; /* Adjust to fit your design */
    background-position: center; /* Adjust to fit your design */
    color: #fff; /* Text color for content in the section */
}
